<!--
<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>
 -->

<!--
<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
 -->

<!--
<ion-content padding>
 <ion-list no-lines>
  <ion-item *ngFor="let message of messagesList">
   <h3>{{message.name}}</h3>
   <p>{{message.message}}</p>
  </ion-item>
 </ion-list>
</ion-content>
<ion-footer>
 <ion-item>
  <ion-input type="text" placeholder="type here..." [(ngModel)]="newmessage"></ion-input>
  <button ion-button clear item-right (click)="send()">Send</button>
 </ion-item>
</ion-footer>
 -->

<html ng-app="ionicApp">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>IFChat</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  </head>

  <body ng-controller="Messages">
    <ion-pane "class="messaging-view">
    <!--
<ion-header-bar class="bar-calm">
      <h1 class="title">IFChat</h1>
    </ion-header-bar>
 -->

    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div ng-repeat="message in messages"
           ng-class="{other: message.userId != myId}"
           class="messages">

        <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
          <span>{{ message.text }}</span>
        </div>

        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>


      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
  </ion-pane>
  </body>

</html>

